@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
}

body {
  background-color: var(--color-zinc-950);
  color: var(--color-slate-900);
}

/* Mobile App Container Scrollbar Hiding */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
